textarea {
  resize: none;
  position: relative;
  background-color:black;
  color:white;
}

mat-hint {
  color: white;
}

mat-form-field {
  background-color: teal;
  width: max-content;
  height: max-content;
}

.kernelArea {
  width: available;
  height: 200px;
}
